<div class="body" data-currency-code="{{currency_selector.active_currency_code}}">
    <div class="heroCarousel">
        <img src="https://cdn11.bigcommerce.com/s-fcps72b3bk/images/stencil/original/carousel/17/3.png?c=1">
        <span id="banner-title">hello</span>
        <button id="banner-link">click</button>
    </div>
    <div class="container">
        <h1 class="page-heading">Featured Products</h1>
        <div><a id="see-all-tire" href="https://www.michelinman.com/tires">See all tires</a></div>
        <div  class="productCarousel">
            <div class="productCarousel-slide">
                <div>
                    <img src="https://cdn11.bigcommerce.com/s-fcps72b3bk/images/stencil/original/carousel/17/3.png?c=1">
                </div>
                <div>
                    <h3>
                        The new MICHELIN<sup>®</sup> Pilot<sup>®</sup>&nbsp;Sport
                        All&nbsp;Season&nbsp;4 tire
                    </h3>
                    <p>
                        Max all-season performance has arrived.
                    </p>
                    <a href="https://www.michelinman.com/tires/high-performance-tires/pilot/pilot-sport-all-season-4.html">DISCOVER</a>
                </div>
            </div>
            <div class="productCarousel-slide">
                <div>
                    <img src="https://cdn11.bigcommerce.com/s-fcps72b3bk/images/stencil/original/carousel/17/3.png?c=1">
                </div>
                <div>
                    <h3>
                        The new MICHELIN<sup>®</sup> Pilot<sup>®</sup>&nbsp;Sport
                        All&nbsp;Season&nbsp;4 tire
                    </h3>
                    <p>
                        Max all-season performance has arrived.
                    </p>
                    <a href="https://www.michelinman.com/tires/high-performance-tires/pilot/pilot-sport-all-season-4.html">DISCOVER</a>
                </div>
            </div>
        </div>
    </div>

    <div id="why-us">
        <h1 class="page-heading">Why US?</h1>
        <div class="container">
            <div class="productCarousel">
                <div class="productCarousel-slide">
                    <img src="https://cdn11.bigcommerce.com/s-fcps72b3bk/images/stencil/original/carousel/17/3.png?c=1">
                </div>
                <div class="productCarousel-slide">
                    <h5>Michelin + IMSA<br>Partners in racing&nbsp;Performance</h5>
                    <p>
                        When pushing the limits of what is possible, you can’t just stay in
                        the moment, you have to be four steps&nbsp;ahead.
                    </p>
                    <a href="https://www.michelinman.com/imsa.html">Learn more</a>
                </div>
            </div>
            <div class="productCarousel ">
                <div class="productCarousel-slide">
                    <img src="https://cdn11.bigcommerce.com/s-fcps72b3bk/images/stencil/original/carousel/17/3.png?c=1">
                </div>
                <div class="productCarousel-slide">
                    <h5>Michelin + IMSA<br>Partners in racing&nbsp;Performance</h5>
                    <p>
                        When pushing the limits of what is possible, you can’t just stay in
                        the moment, you have to be four steps&nbsp;ahead.
                    </p>
                    <a href="https://www.michelinman.com/imsa.html">Learn more</a>
                </div>
            </div>
            <div class="productCarousel ">
                <div class="productCarousel-slide">
                    <img src="https://cdn11.bigcommerce.com/s-fcps72b3bk/images/stencil/original/carousel/17/3.png?c=1">
                </div>
                <div class="productCarousel-slide">
                    <h5>Michelin + IMSA<br>Partners in racing&nbsp;Performance</h5>
                    <p>
                        When pushing the limits of what is possible, you can’t just stay in
                        the moment, you have to be four steps&nbsp;ahead.
                    </p>
                    <a href="https://www.michelinman.com/imsa.html">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>
