<div class="navPages-wider desktop">
    {{#if theme_settings.show_logo_in_sticky_nav '===' true}}
    <li class="navPages-item sticky-object logo">
        {{> components/common/sticky-logo}}
    </li>
    {{/if}}
    <div class="nav-minus-logo">
        <div class="nav-right-fixed">
            <div class="nav-right">
                <ul
                    class="navPages-list nav-page-list one {{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
                    {{#unless theme_settings.hide_category_navigation}}
                    {{#each categories}}
                    <li class="navPages-item categories">
                        {{#if ../theme_settings.navigation_design '===' 'simple'}}
                        {{> components/common/navigation-list}}
                        {{/if}}
                        {{#if ../theme_settings.navigation_design '===' 'alternate'}}
                        {{> components/common/navigation-list-alternate}}
                        {{/if}}
                    </li>
                    {{/each}}
                    {{/unless}}
                    {{#unless theme_settings.hide_content_navigation}}
                    <ul class="navPages-list nav-page-list two">
                        {{#each pages}}
                        <li class="navPages-item">
                            {{> components/common/navigation-page-list}}
                        </li>
                        {{/each}}
                        <!--       {{#if settings.phone_number}}-->
                        <!--         <li class="navPages-item navPages-item-page pages phone-number">-->
                        <!--           <a class="navPages-action phone-number">{{settings.phone_number}}</a>-->
                        <!--         </li>-->
                        <!--       {{/if}}-->
                    </ul>
                    {{/unless}}

                </ul>
            </div>



            </nav>

        </div>
    </div>
</div>