// PRODUCT CAROUSEL
// -----------------------------------------------------------------------------
//
// Purpose: Styles the product carousel component, which basically adds extras to the
// vendor slick carousel, to specifically display product
//
// 1. If there's no JS layout the products out based on the grid.
//
// -----------------------------------------------------------------------------

.productCarousel { // 1
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1px;
    min-width: 100%;
    @include grid-row(
        $behavior: nest
    );
}

.productCarousel-slide { // 1
    margin: 0 0.5rem;
    @include grid-column(2);

    @include breakpoint("small") {
        width: grid-calc(1, 2);
    }

    @include breakpoint("medium") {
        width: grid-calc(2, 2);
    }

    @include breakpoint("large") {
        width: grid-calc(2, 2);
    }

    .card {
        margin-bottom: 0;

        .card-title {
            overflow-wrap: break-word;
        }
    }
}
